.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  @media screen and (min-width: 991px) {
    padding-right: 24px;
  }
}

.header {
  padding-bottom: 14px;
  border-bottom: 1px solid var(--border-color);
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 22px;
}

.img {
  width: 100%;
  height: 300px;
  object-fit: contain;

  @media screen and (min-width: 991px) {
    width: 400px;
  }
}

.name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #7f7c7c;
  gap: 12px;

  .rate {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.desc {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 991px) {
    flex-direction: row;
    gap: 50px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;

  @media screen and (min-width: 991px) {
      max-width: 450px;
  }
}

.label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.item {
  display: flex;
  flex-direction: column;
}
