@import 'src/styles/variables.scss';

.wrapper {
  display: flex;
  align-items: center;

  :global {
    .ant-checkbox {
      top: 0;
    }

    .ant-checkbox-checked::after {
      border-radius: $checkbox-radius !important;
      border-color: $primary-bg-hover !important;
    }

    .ant-checkbox-checked .ant-checkbox-inner::after {
      margin-bottom: 2px;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: $primary-color !important;
      border-color: $primary-color !important;
    }

    .ant-checkbox-inner {
      padding: 4px;
      border-radius: $checkbox-radius;
      width: 24px;
      height: 24px;

      &::after {
        height: 13px !important;
        width: 7px !important;
        inset-inline-start: 25% !important;
      }
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner {
      border-color: $primary-bg-hover !important;
    }
  }
}
