@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.sider {
  grid-area: nav;
  box-sizing: border-box;
  overflow-x: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.sider.long {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--background-color);
  top: 0;
  transform: translateY(-1000px);

  &.opened {
    animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &.closed {
    animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  @media (min-width: 991px) {
    position: sticky;
    top: 24px;
    width: 280px;
    transform: translateY(0);
    border-right: 1px solid var(--border-color);


    &.opened {
      animation: none;
    }

    &.closed {
      animation: none;
    }
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes slide-out-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}
