@import 'src/styles/variables.scss';

.fullWidth {
  width: 100%;
}

.container {
  &.disabled {
    opacity: 0.6;
  }
}

.wrapper {
  display: block;
  position: relative;
  color: var(--input-txt-color);
}

.label {
  color: var(--primary-text-color);
  margin-bottom: 6px;

}

.input {
  padding: 0 14px;
  background: var(--input-bg-color) !important;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;

  &.middle {
    height: 40px;
  }

  &.small {
    height: 32px;
  }

  &.large {
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
}

.inputIcon {
  padding: 0 32px 0 42px !important;
}

.icon {
  position: absolute;
  left: 8px;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
}

.loader {
  position: absolute;
  right: 8px;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
}

:global {
  .ant-input {
    padding: 0 14px;
    font-weight: 500;
    color:  var(--input-txt-color);
    font-size: $font-size-main;
    box-shadow: none !important;

    &[type='password'] {
    background-color: transparent !important;
    }


    &::placeholder {
      color: var(--input-placeholder-color);
    }

    &.middle {
      height: 40px;
    }

    &.small {
      height: 32px;
    }
    &:disabled,
    &:disabled:hover {
      border: 1px solid transparent;
    }

    &:hover {
      &:not(:focus) {
        border-color: transparent;
      }
    }
  }
  .ant-input-prefix {
    margin-right: 0;
    color: inherit !important;
  }
  .ant-input-affix-wrapper:hover {
    border: none;
    border-right-width: 0px;
  }
}
