@import 'src/styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  justify-content: space-between;
  min-height: 100vh;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;

  @media (min-width: 768px) {
      max-width: 400px;
  }
}

.submitBtn {
  margin-top: 32px;
}

.registerQuestion {
  margin-top: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  gap: 4px;

  .link {
    color: $primary-color;
  }
}
