@import 'src/styles/variables.scss';

.notAuth {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  grid-template-areas: none;
  overflow-y: scroll;
  padding: 16px;

  @media (min-width: 991px) {
    padding: 16px 0 16px 24px;
  }
}
