@import 'src/styles/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-button;
  border: none;
  cursor: pointer;
  padding: 0;
  height: auto;
  font-weight: $font-weight-500;
  font-size: $font-size-main;
  line-height: 18px;
  box-shadow: none;

  &.fullWidth {
    width: 100%;
  }

  &.hide-pointer {
    cursor: default;
  }

  &.primary {
    background: $primary-color;
    color: $white;

    &:hover {
      background: $primary-bg-hover;
      color: $white;
    }

    &:enabled:active {
      background: $primary-bg-disabled;
      color: $white;
    }

    &:visited {
      background: $primary-bg-disabled;
      color: $white;
    }

    &:not(:disabled) {
      background: $primary-color !important;
      color: $white;
    }

    &:disabled {
      background: $primary-bg-disabled;
      color: $white;
      //box-shadow: $box-shadow;
    }

    &.isLoading {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), #ff7b54;
    }

    &:hover {
      color: $white !important;
    }
  }


  &.middle {
    height: 40px;
    padding: 11px 16px;

    svg {
      max-height: 20px;
    }
  }
}

.dotFlash {
  margin: 5px auto;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #838181;
  color: #a0a4b0;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;

  @keyframes dotFlashing {
    0% {
      background-color: #838181;
    }
    50%,
    100% {
      background-color: #ebe6ff;
    }
  }
  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  &::before {
    left: -10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #838181;
    color: #838181;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  &::after {
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #838181;
    color: #838181;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
}
