@import 'src/styles/variables.scss';


.wrapper {
  display: flex;
  background-color: var(--pop-up-background-color);
  position: fixed;
  bottom: -1000px;
  left: 0;
  height: calc(100% - 68px);
  width: 100%;
  border-radius: 46px 46px 0 0;
  padding: 24px;
  border: 2px solid var(--border-color);
  border-bottom: none;
  flex-direction: column;
  align-items: center;


  &.opened {
    bottom: -1px;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @supports (bottom: env(safe-area-inset-bottom)) {
        bottom: env(safe-area-inset-bottom);
    }


    @media screen and (min-width: 768px) {
      animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }

  &.closed {
    animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    @media screen and (min-width: 768px) {
      animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
  }


  @media screen and (min-width: 768px) {
    width: 400px;
    right: -1000px;
    left: unset;
    height: calc(100% - 72px);
    bottom: 0;
    border-radius: 46px 0 0 0;
  }
}

.content {
  width: 100%;
  margin-top: 22px;
}

.sorting {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.action {
  color: $primary-color;
  position: absolute;
  right: 30px;
  font-size: 16px;
  font-weight: 600;
}


@keyframes slide-in-bottom {
  0% {
    bottom: -1000px;
  }
  100% {
    bottom: -1px;
  }
}


@keyframes slide-out-bottom {
  0% {
    bottom: -1px;
  }
  100% {
    bottom: -1000px;
  }
}



@keyframes slide-in-right {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-out-right {
  0% {
    right: 0;
  }
  100% {
    right: -1000px;
  }
}
