@import 'src/styles/variables.scss';

.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 68px 1fr;
  min-height: 100vh;
  position: relative;

  @media (min-width: 991px) {
    grid-template-rows: 56px 1fr;
  }
}

.layout.auth {
  grid-template-areas:
    'header header'
    'nav  main';
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 68px 1fr;
  position: relative;

  @media (min-width: 991px) {
    grid-template-rows: 72px 1fr;
  }
}
