@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

:root {
  @include apply-theme($light-theme);
}


body {
  background-color: var(--background-color);
  color: var(--primary-text-color);

  &.dark {
    @include apply-theme($dark-theme);
  }

  @media screen and (min-width: 768px) {
    overflow-y: hidden !important;
  }
}
