$light-theme: (
        background-color: #FFF6DB,
        primary-text-color: #1F2921,
        logo-color: #000,
        input-bg-color: rgba(31, 41, 33, 0.60),
        input-txt-color: #FFF6DB,
        input-placeholder-color: #d5d0bd,
        border-color: #383d3629,
        color-breadcrumbs-link: #77779a,
        color-breadcrumbs-disabled: #b6b6d0,
        tertiary: #b6b6d0,
        pop-up-background-color: #fbfbfa
);

$dark-theme: (
        background-color: #0a1511,
        primary-text-color: #FFF3D9,
        logo-color: #fff,
        input-bg-color: #FFF6DB,
        input-txt-color: #383D36,
        input-placeholder-color: #767367,
        border-color: #fff6db4a,
        color-breadcrumbs-link: #77779a,
        color-breadcrumbs-disabled: #b6b6d0,
        tertiary: #b6b6d0,
        pop-up-background-color: #383D36
);

//colors
$white: #fff;
$primary-color: #FF7B54;
$primary-bg-hover: #ff8d6b;
$primary-bg-disabled: #f1f1f1;
$primary-text-color: #1F2921;


//fonts
$font-size-main: 14px;
$font-weight-500: 500;


//borders
$border-radius-button: 6px;
$checkbox-radius: 4px
