@import 'src/styles/variables.scss';

button {
  background: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

.burger {
  position: relative;
  width: 22px;
  height: 14px;
  cursor: pointer;

  &:hover span {
    background: $primary-color;
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transition: all 0.2s, background 0s;
    background: $primary-color;

    &:nth-child(2) {
      top: 6px;
    }

    &:last-child {
      top: 12px;
    }
  }

  @media screen and (min-width: 768px){
    display: none;
  }
}

.open {
  span {
    &:first-child,
    &:last-child {
      top: 8px;
      // transform-origin: top;
    }

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
      visibility: hidden;
    }
  }
}
