.wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--border-color);

  @media screen and (min-width: 991px) {
    padding-right: 24px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.action {
  width: 20px;
  height: 20px;
  color: var(--primary-text-color);
}
