@import 'src/styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: $primary-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: scroll;

  @media screen and (min-width: 991px) {
    gap: 32px;
  }
}

