@import 'src/styles/variables.scss';

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px 16px;
  height: 100%;
  background-color: #fff;
  max-height: 280px;
  width: 100%;
  max-width: 210px;
  min-width: 210px;

  &.fullWidth {
    max-width: 100%;
    min-width: 100%;

    @media screen and (min-width: 420px){
      max-width: 100%;
      min-width: calc(100% / 2 - 12px);
      width: calc(100% / 2 - 12px);
    }

    @media screen and (min-width: 991px){
      max-width: 100%;
      min-width: calc(100% / 3 - 16px);
      width: calc(100% /  3 - 16px);
    }


    @media screen and (min-width: 1240px){
      width: 100%;
      max-width: 210px;
      min-width: 210px;
    }
  }
}

.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.name {
  font-size: $font-size-main;
  color: $primary-text-color;
  font-weight: $font-weight-500;
}

.price {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #7f7c7c;
  gap: 12px;

  .rate {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
