@import 'src/styles/variables.scss';

.header {
  grid-area: header;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  max-width: 100vw;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);

  @media (min-width: 991px) {
    padding: 16px 32px;
    position: relative;
  }
}


