@import 'src/styles/variables.scss';


.radio {
  :global {
    .ant-radio-inner {
      width: 24px;
      height: 24px;
    }

    .ant-radio-checked {
      .ant-radio-inner {
        background-color: $primary-color !important;
        border-color: $primary-color !important;
        width: 24px;
        height: 24px;
      }
    }
  }
}
