.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media screen and (min-width: 991px) {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 200px;
    padding-right: 24px;
  }
}
