.wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}
