.sider {
  flex-direction: column !important;
  justify-content: flex-start !important;

  @media screen and (min-width: 768px) {
    display: flex !important;
  }
}

.content {
  padding-bottom: 90px !important;
}
