.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;

  @media screen and (min-width: 991px) {
    padding-right: 24px;
  }
}
