@import 'src/styles/variables.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 24px 32px;

  &.active {
    color: $primary-color;
    border-left: 4px solid $primary-color;
  }
}
